html, body {
	border: 0;
	font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

h1 {
	text-align: center;
	background-color: #033;
	color: white;
	font-size: 3em;
}

.date {
	padding: 5px 10px;
	background-color: #011;
	color: white;
	font-weight: normal;
}

.date .day {
	font-weight: bold;
}

.match {
	padding: 5px 10px;
}

.match:after {
	content: "";
	display: table;
	clear: both;
}

.match .home, .match .away {
	box-sizing: border-box;
	float: left;
	width: 40%;
}

.match .home {
	text-align: right;
}

.match .scores {
	box-sizing: border-box;
	float: left;
	width: 20%;
	text-align: center;
}

.match .time {
	box-sizing: border-box;
	float: left;
	width: 20%;
	text-align: center;
}

.match .time span {
	font-weight: bold;
	text-align: center;
	color: #aaa;
	width: 3em;
	display: inline-block;
}

.match .scores span {
	background-color: #ddd;
	font-weight: bold;
	text-align: center;
	width: 1.5em;
	display: inline-block;
}

.match .scores span.live {
	background-color: #b20000;
	color: #fff;
}

.match .scores span:first-child {
	border-right: 1px solid white;
}

.match .scores span:last-child {
	border-left: 1px solid white;
}